.sider {
    height: calc(100vh - 40px);
    border-radius: 15px;
    padding: 20px;
    position: sticky !important;
    top: 20px;
    background-color: rgb(25, 55, 255) !important;
}

.sider>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    background-color: #ffffff;
    width: 100%;
    font-size: 18px !important;
    justify-content: start !important;
    color: rgb(25, 55, 255) !important;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 20px 10px !important;
    border-color: #ffffff;
    position: relative;
    z-index: 999;
}

.button:hover {
    border-color: #ffffff !important;
    color: rgb(76, 97, 235) !important;
}

.buttonActive {
    position: absolute;
    right: -21px;
    width: 40px;
    height: 70px;
    background-color: #ffffff;
    z-index: 1;
}

.buttonActive>div {
    position: relative;
    height: 70px;
    overflow: hidden;
}

.buttonActive>div>div {
    height: 30px;
    width: 40px;
    position: absolute;
    z-index: 1;
    background-color: rgb(25, 55, 255);
}

.buttonActive>div>div:nth-child(1) {
    top: -16px;
    border-radius: 0px 0px 15px 0px;
}

.buttonActive>div>div:nth-child(2) {
    bottom: -16px;
    border-radius: 0px 15px 0px 0px;
}

.buttonExit {
    width: 100%;
    background-color: rgb(20, 44, 202) !important;
    border-color: rgb(20, 44, 202) !important;
    color: #ffffff !important;
    font-weight: 600 !important;
    padding: 20px !important;
}

.buttonExit:hover {
    color: rgb(20, 44, 202) !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.content {
    background-color: #ffffff;
    padding: 0px 20px 0px 40px;
    min-height: calc(100vh - 40px) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url('../../../img/snapedit_1744929428280.png');
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo>img {
    width: 100%;
    height: auto;
}

.chat {
    position: absolute;
    width: 300px;
    height: 500px;
    background-color: #eeeeeede;
    bottom: 80px;
    padding: 10px;
    right: 24px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 15px;
}

.massageBlock {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 5px 5px 0px;
    overflow-y: scroll;
}

.massageBlock::-webkit-scrollbar {
    width: 5px;
    /* ширина scrollbar */
}

.massageBlock::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);
    /* цвет дорожки */
}

.massageBlock::-webkit-scrollbar-thumb {
    background-color: rgb(202, 202, 202);
    border-radius: 20px;
}

.massageBlock>span {
    background-color: #d1d1d1de;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.massageBlock>span>span:last-child {
    font-size: 10px;
}
.chatTitle{
    position: relative;
    text-align: center;
}
.chatTitle > span{
    font-size: 18px;
    font-weight: 600;
}

.massageMy {
    text-align: end;
    margin-left: auto;
}

@media (max-width: 1000px) {
    .content {
        background-color: #ffffff;
        padding: 0px 15px 0px 0px;
        min-height: calc(100vh - 50px) !important;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        background-image: url('../../../img/snapedit_1744929428280.png');
    }

    .sider {
        height: 100vh;
        border-radius: 0 15px 15px 0px;
        position: fixed !important;
        top: 0;
        left: -260px;
        padding: 20px;
        background-color: rgb(25, 55, 255) !important;
    }
}